:root {
  --main-bg: hsl(0, 0%, 100%);
  --text-dark: hsl(240, 3%, 7%);
  --text-light: hsl(0, 0%, 100%);
  --header-bg: hsl(240, 3%, 7%);
  --hero-bg: hsl(0, 0%, 100%);
  --button-primary-bg: hsl(15, 87%, 57%);
  --button-primary-bg-hover: hsl(15, 87%, 52%);
  --button-primary-text: hsl(0, 0%, 100%);
  --button-secondary-bg: transparant;
  --button-secondary-bg-hover: var(--fullwidth-bg);
  --button-secondary-border: hsl(15, 87%, 52%);
  --button-secondary-border-hover: var(--fullwidth-bg);
  --button-secondary-text: hsl(15, 87%, 57%);
  --button-secondary-text-hover: var(--hero-bg);
  --fullwidth-bg: hsl(217, 89%, 61%);
}
