@use '../util/' as u;

.hero {
  background-color: var(--hero-bg);
  color: var(--text-dark);

  &__wrapper {
    // display: flex;
    // flex-direction: column-reverse;
    // align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
    align-items: center;
    padding-block: 30px 60px;

    @include u.breakpoint(large) {
      // flex-direction: row-reverse;
      grid-template-columns: 6fr 5fr;

      padding-block: 40px 80px;
      gap: 10%;
    }
  }

  &__image {
    width: 62%;
    max-width: u.rem(483);

    @include u.breakpoint(large) {
      // flex: 5;
      order: 2;
      width: 100%;
    }

    // // width: u.rem(200);

    // // @include u.breakpoint(large) {
    // //   width: u.rem(483);
    // }
  }

  &__text {
    @include u.breakpoint(large) {
      flex: 6;
    }
  }

  &__title {
  }

  &__content {
  }

  &__button {
    &.primary {
      margin-inline-end: 20px;
    }
  }
}
